#upload_button{
	border: 2px solid green;
	background-color: green;
	color: white;
	padding:5px 20px;
	margin: 16px;
}
tr td{
	padding:5px;
	margin:5px 10px;
}
table {
	padding:10px;
	margin: auto;
}

#tabs a {
	width: 40%;
}

#tabs a li {

	display: inline-block;
	width: 30%;
	margin: auto;
	background-color:#eee;
} 

#tabs a li:hover,
#tabs a li:active{
	background-color: red;
	color: white;
}

#totabl {
	display:none;
}

#content div {
	padding: 20px;
	float: none;
}

#totab2 {
	display:none;
}

#litotab1.selected {
	background-color:red;
	color: white;
}


#litotab2.selected {
	background-color:red;
	color: white;
}

